html,
#root {
  background-color: #242424;
  scroll-behavior: smooth;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.background-filter::after {
  -webkit-backdrop-filter: blur(3px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(3px); /* Supported in Chrome 76 */
  background: "rgba(0, 0, 0, .4)";
  filter: brightness(0.5);

  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.u-non-blurred {
  position: relative;
  z-index: 1;
}
