html,
#root {
  background-color: #242424;
  scroll-behavior: smooth;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
